<% if current_user && (session[:page] == 'burn')  %>
  <div id="new-counter-container">
    <form id="counters" method="get" action="/counters/<%=@burn.id %>/new">
      <input id="counter-submission" type="submit" class="ui teal submit button"value="Submit New Counter">
    </form>
  </div>
  <% end %>
<div class="ui segment">
  <div id="burn-container" class="ui items">
  <!-- voting section -->

    <div class="item">
      <div id="<%= @burn.id %>" class="content burn-votes">

        <form id="form-burn-voteup" method="post" action="/burns/<%= @burn.id %>/voteup">
          <button type="submit"><i class="plus icon"></i></button>
        </form>
        <p><%= @burn.points %> Points</p>
        <form id="form-burn-votedown" method="post" action="/burns/<%= @burn.id %>/votedown">
          <button type="submit"><i class="minus icon"></i></button>
        </form>
      </div>

  <!-- end voting section -->
      <div id="burn-content" class="content">
        <a class="header"><h2><a href='/burns/<%= @burn.id %>'>
        <%= @burn.title.split.map(&:capitalize).join(' ') %></a></h2></a>
        <div class="description">
          <p><main class='burn_description'><i>"<%= @burn.burn_description %>"</i></main></p>
        </div>
        <div class="extra">
          <%= @burn.user.username %>   |   <%= long_form_date(@burn.created_at) %>
        </div>
        <!-- begin burn comments section -->
        <div class="content">
          <ul id="burn-comments" class"ui list">
            <% @burn_comments.each do |comment| %>
              <li>
                <form method="post" action='/burns/<%= @burn.id %>'></form>
                <%= erb(:'/comments/_comment', locals: {comment: comment}) %>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- end burn comment section -->
        <form id="comments_button" method="get" action="/comments-new">
          <input type="submit" class="ui blue submit button comment-button" value="Submit New Burn Comment">
        </form>
         <%= erb(:"burns/_new_comment", locals: {burn_id: @burn.id  }) %>
      </div>

    </div>
    <br>

    <!-- begin counter section -->
    <%@counters.each do |counter| %>
    <div class="item">
    <div
      <div id="c<%= counter.id %>" class="content counter-votes">
        <form id="form-counter-voteup" method="post" action="/counters/<%= counter.id %>/voteup">
          <button type="submit"><i class="plus icon"></i></button>
        </form>
        <p><%= counter.points %> Points</p>
        <form id="form-counter-votedown" method="post" action="/counters/<%= counter.id %>/votedown">
          <button type="submit"><i class="minus icon"></i></button>
        </form>
      </div>

      </div>
      <div id="counter-content" class="content">
        <div class="description">
          <p><main class='counter-description'><i>"<%= counter.description %>"</i></main></p>
        </div>
        <div class="extra">
          <%= counter.user.username %>   |   <%= long_form_date(counter.created_at) %>
        </div>
        <div class="content">
          <ul id="counter-comment-list" class"ui list">
            <% counter.comments.each do |comment| %>
              <li>
                <form method="post" action='/burns/<%= @burn.id %>'></form>
                <%= erb(:'/comments/_comment', locals: {comment: comment}) %>
              </li>
          </ul>
          <% end %>
        </div>
      </div>
    </div>

    <!-- beginning of buttons -->
    <form method="post" class="inline" action='/counter/<%= counter.id %>' >
      <input type="hidden" name="_method" value="DELETE">
      <input id="counter-submission" type="submit" class="ui teal submit button" value="Delete"/>
    </form>

    <form id="counter-comment" class="comment_button inline" method="get" action="/comments-new">
      <input id="new-burn-comment" type="submit" class="ui blue submit button" value="Submit New Counter Comment">
    </form>
    <%= erb(:"counters/_new_comments", locals: {counter_id: counter.id  }) %>



   <!--  <form id="counters" method="get" action="/counters/<%=@burn.id %>/new">
      <input id="counter-submission" type="submit" class="ui teal submit button"value="Submit New Counter">
    </form> -->
    <% end %>
  </div>
</div>

