<div class='burn-select'>
    <article id="<%= @burn.id%>">
      <h2><a href='/burns/<%= @burn.id %>'><%= @burn.title %></a></h2>
      <p>
        <span class='user'><%= @burn.user.username %></span>
        <span class='votes'><%= @burn.votes %></span>
        <span class='burn_description'><%= @burn.burn_description %></span>
        <span class='timestamp'><%= @burn.created_at %></span>
      </p>
    </article>

    <div class='burn-comment-list'>
      <% @burn.comments = @comments %>
      <% @comments.each do |comment| %>
        <form method="post" action='/burns/<%= @burn.id %>'></form>
        <p>
          <span class='burn_comment_description'><%= comment.description %></span>
          <span class='timestamp'><%= comment.created_at %></span>
        </p>
      <% end %>
  </div>

    <form id="comments" method="get" action="/comments-new">
      <input type="submit" value="Submit New Comment">
    </form>


</div>
