<div class='burn-select'>
    <article id="<%= @burn.id%>">
      <h2><a href='/burns/<%= @burn.id %>'><%= @burn.title %></a></h2>
      <p>
        <span class='user'><%= @burn.user.username %></span>
        <span class='votes'><%= @burn.votes %></span>
        <span class='burn_description'><%= @burn.burn_description %></span>
        <span class='timestamp'><%= @burn.created_at %></span>
      </p>
    </article>
</div>

<div class='counter-list'>
  <%@counters.each do |counter| %>
      <p class='description'>
        <%= counter.description %>
      </p>
      <form method="post" action='/counter/<%= counter.id %>'>
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete"/>
      </form>
    <% end %>
</div>

<form id="counters" method="get" action="/counters/<%=@burn.id %>/new">
  <input type="submit" value="Submit New Counter">
</form>
