<div class='burn-select'>
    <article id="<%= @burn.id%>">
      <h2><a href='/burns/<%= @burn.id %>'><%= @burn.title %></a></h2>
      <p>
        <span class='user'><%= @burn.user.username %></span>
        <span class='votes'><%= @burn.votes %></span>
        <span class='burn_description'><%= @burn.burn_description %></span>
        <span class='timestamp'><%= @burn.created_at %></span>
      </p>
    </article>
</div>
