<!-- <article id="<%= @burn.id %>">
      <form method="post" action='/burns/<%= @burn.id %>/vote' class="inline">
      </form>
      <h2><a href='/posts/<%= @post.id %>'><%= @post.title %></a></h2>
      <p>
        <span class='user'><%= @burn.user %></span>
        <span class='votes'><%= @burn.votes %></span>
        <span class='timestamp'><%= @burn.created_at %></span>
        <a class="delete" href='/burns/<%= @burn.id %>'></a>
      </p>
    </article> -->
